!!!
%html
  %head
  %body
    %h1
      = @message.title
    %p
      %strong
        = @message.user.username
        says:
      = simple_format @message.message
    %p
      = link_to 'Famlog', @url


