!!!
%html
  %head
  %body
    %h1
      = @reply.message.title
    %p
      %strong
        = @reply.user.username
        says:
      = markdown(@reply.text)
    %p
      = link_to 'Reply Now', @url


