body {
  background-color: white;
  font: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
  line-height: 1.125em; }

h1 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 1.25em; }
  h1 a {
    color: #fff;
    text-decoration: none; }
  h1 a:hover {
    text-decoration: none; }

a {
  color: #0000ff;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

#header {
  background-color: #222;
  color: #fff; }
  #header #hdr-group {
    width: 640px;
    margin: 0 auto;
    padding: 10px 0 10px 0; }

#root {
  margin: 30px auto 10px auto;
  width: 640px; }

#top {
  text-align: center;
  margin: 0 0 20px 0; }
  #top #add {
    font-size: 0.75em;
    margin: 10px 0 10px 0; }
  #top #tabs {
    border-bottom: solid 1px #cacaca; }
    #top #tabs li {
      background-color: #efefef;
      border: solid 1px #cacaca;
      border-bottom: none;
      display: inline-block;
      font-size: 0.75em;
      padding: 3px 10px; }
    #top #tabs li.active {
      background-color: white;
      padding: 5px 10px 4px 10px;
      margin-bottom: -1px; }

#main {
  background-color: #fff;
  clear: both;
  margin: 0 0 10px 0;
  overflow: hidden; }

#messages li {
  background-color: #efefef;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 0 10px 0;
  padding: 10px;
  overflow: hidden; }
  #messages li h3 {
    font-size: 0.875em;
    margin: 0 0 3px 0; }
  #messages li .message-body {
    float: left; }
    #messages li .message-body p {
      color: #222;
      font-size: 0.875em;
      margin-bottom: 3px; }
    #messages li .message-body .message-meta {
      color: #666;
      font-size: 0.6875em; }
  #messages li .action {
    display: none; }
    #messages li .action a {
      background-color: #ddd;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      float: right;
      font-size: 0.6875em;
      padding: 2px 8px; }

.super-high {
  color: #ff0000;
  font-weight: bold; }

.high {
  color: #ff6600; }

.medium {
  color: #80cc66; }
