body {
  background-color: white;
  font: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.125em; }

h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px; }
  h1 a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 0px #333333; }
  h1 a:hover {
    text-decoration: none; }

h2, h3 {
  margin: 0 0 15px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

hr {
  margin-bottom: 30px; }

a {
  color: blue;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

#header {
  background-color: #222222;
  border-bottom: solid 3px #e6e6e6;
  color: white;
  overflow: hidden; }
  #header #hdr-group {
    width: 640px;
    margin: 0 auto;
    padding: 10px 0 10px 0; }
    #header #hdr-group h1 {
      float: left; }
      #header #hdr-group h1 a {
        color: #affff6; }
    #header #hdr-group #hdr-util {
      float: right;
      font-size: 0.75em;
      margin: 0 0 10px;
      overflow: hidden; }
      #header #hdr-group #hdr-util li {
        list-style: none;
        float: left;
        margin: 0 0 0 15px; }
        #header #hdr-group #hdr-util li a {
          color: white; }

#root {
  margin: 30px auto 10px auto;
  width: 640px; }

#top {
  text-align: center;
  margin: 0 0 20px 0; }
  #top #add {
    background-color: #efefef;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    font-size: 0.75em;
    margin: 10px auto 20px auto;
    padding: 6px 8px;
    width: 190px; }
  #top #tabs {
    border-bottom: solid 1px #cacaca; }
    #top #tabs li {
      background-color: #efefef;
      border: solid 1px #cacaca;
      border-bottom: none;
      display: inline-block;
      font-size: 0.75em;
      padding: 3px 10px; }
    #top #tabs li.active {
      background-color: white;
      padding: 5px 10px 4px 10px;
      margin-bottom: -1px; }

#main {
  background-color: white;
  clear: both;
  margin: 0 0 10px 0;
  overflow: hidden; }

#messages li {
  background-color: #efefef;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 0 10px 0;
  padding: 10px;
  overflow: hidden; }
  #messages li h3 {
    font-size: 14px;
    margin: 0 0 3px 0; }
  #messages li .message-body {
    float: left;
    width: 570px; }
    #messages li .message-body p {
      color: #222222;
      font-size: 14px;
      margin-bottom: 3px; }
  #messages li .event-info {
    background-color: #3d9bf2;
    clear: left;
    color: white;
    float: left;
    font-size: 11px;
    padding: 2px 10px;
    margin-bottom: 10px; }
  #messages li .message-meta {
    clear: left;
    color: #666666;
    float: left;
    font-size: 11px; }
  #messages li .action {
    display: none;
    float: right; }
    #messages li .action a {
      background-color: #dddddd;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      float: right;
      font-size: 11px;
      padding: 2px 8px; }

.super-high {
  color: red;
  font-weight: bold; }

.high {
  color: #ff6600; }

.medium {
  color: #80cc66; }

.cancel {
  font-size: 14px; }

.help {
  margin: 0 0 20px; }

#loader {
  background-color: #dddddd;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  font-size: 13px;
  margin: 20px auto 0;
  padding: 5px 8px;
  text-align: center;
  width: 130px; }
