@import url(http://fonts.googleapis.com/css?family=Nobile.css);
body {
  background-color: white;
  font: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.125em; }

h1 {
  font-family: Nobile;
  font-size: 23px;
  font-weight: normal; }
  h1 a {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 0 black; }
  h1 a:hover {
    text-decoration: none; }

h2 {
  font-size: 24px;
  margin: 0 0 25px; }

h3 {
  font-size: 18px;
  margin: 0 0 15px; }

hr {
  margin-bottom: 30px; }

a {
  color: blue;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

#header-clip {
  overflow: hidden;
  padding: 0 0 5px; }

#header {
  background-color: #444444;
  border-bottom: solid 1px black;
  color: #414141;
  overflow: hidden;
  padding: 0 15px; }
  #header #hdr-group {
    margin: 0 auto;
    padding: 10px 0 10px 0; }
    #header #hdr-group h1 {
      float: left; }
      #header #hdr-group h1 a {
        color: white;
        text-shadow: 0 1px 0 black; }
    #header #hdr-group #hdr-util {
      float: right;
      font-size: 12px;
      margin: 0 0 10px;
      overflow: hidden; }
      #header #hdr-group #hdr-util li {
        list-style: none;
        float: left;
        margin: 0 0 0 20px;
        text-shadow: 0 1px 0 black; }
        #header #hdr-group #hdr-util li a {
          color: white; }

#root {
  margin: 30px auto 10px auto;
  width: 640px; }

#top {
  text-align: center;
  margin: 0 0 20px 0; }
  #top #add {
    background-color: #efefef;
    border: solid 2px rgba(0, 0, 0, 0.05);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font-size: 0.75em;
    margin: 10px auto 20px auto;
    padding: 6px 8px;
    width: 190px; }
  #top #tabs {
    border-bottom: solid 1px #cacaca; }
    #top #tabs li {
      background-color: #efefef;
      border: solid 1px #cacaca;
      border-bottom: none;
      display: inline-block;
      font-size: 0.75em;
      padding: 3px 10px; }
    #top #tabs li.active {
      background-color: white;
      padding: 5px 10px 4px 10px;
      margin-bottom: -1px; }

#main {
  background-color: white;
  clear: both;
  margin: 0 0 10px 0;
  overflow: visible; }

.message, .event {
  background-color: #efefef;
  border: solid 4px rgba(0, 0, 0, 0.05);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 14px;
  margin: 0 0 10px 0;
  padding: 10px;
  overflow: hidden; }
  .message h3, .event h3 {
    font-size: 14px;
    margin: 0 0 3px 0; }
  .message .message-body, .event .message-body {
    position: relative;
    z-index: 1; }
    .message .message-body p, .event .message-body p {
      color: #222222;
      margin-bottom: 10px; }
  .message .event-info, .event .event-info {
    background-color: #444444;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    clear: left;
    color: white;
    float: left;
    font-size: 11px;
    padding: 2px 10px;
    margin-bottom: 10px;
    text-shadow: 0 1px 0 black; }
  .message .message-meta, .event .message-meta {
    clear: left;
    color: #666666;
    float: left;
    font-size: 11px; }
    .message .message-meta li, .event .message-meta li {
      float: left;
      margin: 0 5px 0 0;
      padding: 0; }
  .message .action, .event .action {
    display: none;
    float: right;
    position: relative;
    z-index: 99; }
    .message .action a, .event .action a {
      background-color: rgba(0, 0, 0, 0.1);
      border: solid 1px rgba(0, 0, 0, 0.15);
      color: rgba(0, 0, 0, 0.7);
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      float: right;
      font-size: 11px;
      margin-left: 5px;
      padding: 2px 8px;
      text-decoration: none;
      text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8); }

.super-high {
  background-color: rgba(255, 0, 0, 0.1); }
  .super-high .action a {
    background-color: rgba(255, 0, 0, 0.2);
    border: solid 1px rgba(255, 0, 0, 0.2);
    color: rgba(180, 0, 0, 0.9);
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4); }

.high {
  background-color: rgba(255, 180, 0, 0.1); }
  .high .action a {
    background-color: rgba(255, 140, 0, 0.25);
    border: solid 1px rgba(255, 140, 0, 0.6);
    color: #d29600;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.7); }

.medium {
  background-color: #edffdd; }

.priority-text {
  color: #222222; }

.cancel {
  font-size: 14px; }

.help {
  margin: 0 0 20px; }

#loader {
  background-color: #dddddd;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  font-size: 13px;
  margin: 20px auto 0;
  padding: 5px 8px;
  text-align: center;
  width: 130px; }

.replies {
  margin: 0 0 40px; }

.reply {
  border-bottom: solid 1px #cccccc;
  font-size: 14px;
  margin: 0 0 10px 0;
  padding: 10px 0 40px 0;
  overflow: hidden; }

.date {
  color: #666666;
  font-size: 11px;
  margin-bottom: 10px; }

.tab-form {
  border: solid 1px #cccccc;
  background-color: #efefef;
  margin: 0 0 10px;
  padding: 15px; }
  .tab-form #search-phrase {
    border: solid 1px #dddddd;
    padding: 4px;
    width: 530px; }

.tab-form-group {
  float: left;
  margin: 0 15px 0 0; }
  .tab-form-group label {
    font-size: 12px; }

#cancel-account {
  border: solid 1px #cccccc;
  background-color: #efefef;
  color: #666666;
  font-size: 12px;
  padding: 10px;
  margin: 0 0 20px 0;
  width: 70%; }
  #cancel-account h3 {
    font-size: 14px;
    margin: 0 0 5px 0; }
