form {
  margin: 0 0 20px 0; }
  form p {
    clear: left;
    overflow: visible; }

label, input, select, textarea {
  clear: left;
  float: left;
  margin: 0 0 20px;
  padding: 2px; }

input[type=text], input[type=password], textarea {
  border: 1px solid #cccccc;
  -moz-box-shadow: 0 0 2px #efefef;
  -webkit-box-shadow: 0 0 2px #efefef;
  box-shadow: 0 0 2px #efefef;
  font-family: verdana;
  color: #444444;
  padding: 5px;
  font-size: 14px;
  width: 100%; }

input:focus, textarea:focus {
  border-color: #0099cc;
  -moz-box-shadow: 0 0 4px #0099cc;
  -webkit-box-shadow: 0 0 4px #0099cc;
  box-shadow: 0 0 4px #0099cc; }

textarea {
  height: 200px; }

label {
  font-size: 16px;
  color: #444444;
  margin: 0 0 10px; }

.submit {
  float: none; }

.date-group {
  clear: left;
  float: left;
  overflow: visible; }
  .date-group input, .date-group select {
    clear: none;
    float: none;
    font-size: 12px;
    padding: 2px;
    width: 100px; }
  .date-group .time {
    width: 100px; }

.short input[type=text], .short input[type=password], .short textarea {
  width: 70%; }
.short em {
  color: #444444;
  display: inline-block;
  font-size: 12px;
  padding-left: 10px; }
