form p {
  clear: left;
  overflow: hidden; }

label, input, select, textarea {
  clear: left;
  float: left;
  margin: 0 0 20px;
  padding: 2px; }

label {
  margin: 0 0 5px; }

.submit {
  float: none; }

.date-group {
  clear: left;
  float: left;
  overflow: hidden; }
  .date-group input, .date-group select {
    clear: none;
    float: none; }
  .date-group .time {
    width: 100px; }
