h1 {
  color: #888888;
  font-size: 32px;
  margin: 40px 0 40px 0;
  text-align: center; }

h2 {
  color: #555555; }

#root {
  width: 480px; }

#main {
  background-color: #efefef;
  padding: 20px;
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 0px 6px #cccccc;
  -moz-box-shadow: 0px 0px 6px #cccccc;
  -webkit-box-shadow: 0px 0px 6px #cccccc;
  margin: 0 0 100px 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.9); }

form {
  font-size: 13px;
  margin: 0 auto;
  width: 400px; }
  form label {
    margin: 0 0 5px 0; }
  form input {
    margin: 0 0 10px;
    float: none; }
  form #user_email, form #user_password {
    width: 386px; }
  form #remember_me {
    margin: 0 0 10px;
    overflow: hidden; }
    form #remember_me label {
      clear: none;
      float: none;
      text-align: left;
      padding: 0;
      vertical-align: middle; }
    form #remember_me input {
      margin: 0 5px 0 0; }
