%h2 Help

%p.help
  Famlog is a <strong>simple</strong> application created to improve
  interfamily communication.  Please note the emphasis on simple.  Famlog
  provides just enough functionality to be useful.

%hr

%h3 Home Tab

%p.help
  The home tab displays the 20 most recent messages and events.  Messages and
  events are ordered by the date and time on which they were <em>created</em>
  from newest to oldest.

%h3 Today Tab

%p.help
  The today tab displays <strong>events</strong> relevant to the current day.
  If the start date of the event matches the current day or the current day
  is within the start/end date range, it will displayed on this tab ordered
  by start date chronologically.

%p.help
  Note, this tab does not display messages.

%h3 Forecast Tab

%p.help
  The forecast tab displays <strong>events</strong> that are scheduled to occur
  within the next five days (including the current day). If the start or end
  date of an event is within the five day span, it will be displayed on this tab
  ordered by start date chronologically.

%p.help
  Note, this tab does not display messages.

%h3 History Tab

%p.help
  The history tab displays all messages and events that were created before the
  current day.  Messages and events are ordered by the date and time on which
  they were <em>created</em> from newest to oldest.

