!!!
%html
  %head
  %body
    %h1
      = @reply.message.title
    %p
      %strong
        = @reply.user.username
        says:
      = @reply.text
    %p
      = link_to 'Reply Now', new_message_reply_url(@reply.message, :host => 'http://famlog.heroku.com')


