!!!
%html
  %head
    %title famlog
    = javascript_include_tag "jquery.js", "home/index.js"
    = stylesheet_link_tag "reset", "common", "forms", "modal"
    = csrf_meta_tag
  %body
    %h1 famlog
    #root
      #main
        = yield

